.bg {
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 14, 37, 0.53);
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    height: 100%;
}

.header {
    font-size: 2em;
    color: #fff;
    text-align: center;
    -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
    width: 840px;
    margin: auto;
    font-size: 3.61rem;
    line-height: 4.46rem;
    font-weight: 900;
    text-align: center;
}

.subHeader {
    display: block;
    font-size: 1.38rem;
    line-height: 1.75rem;
    margin: 40px auto 22px;
    max-width: 866px;
    padding: 0;
    width: 100%;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.strong {
    font-weight: 400;
}

.button {
    margin: auto;
    display: block;
    margin-top: 4em;
    padding: 14px 30px 14px 30px;
    border-radius: 100px;
    background-color: #4FB4FB;
    color: #fff;
    cursor: pointer;
}

.modalInner {
    padding: 1em;
}

.input {
    width: 60%;

    background: #fafbfc;
    color: #8da2b5;
    border: 1px solid #dde5ed;
    font-size: 16px;
    padding: 16px 15px 14px;
    margin: 0;
    border-radius: 6px;
    outline: none;
    height: 52px;
    box-shadow: none;
}

.btn.inputButton {
    margin-left: 2em;
}

.btn {
    background-color: #4FB4FB;

    display: inline-block;
    font-weight: 500;
    letter-spacing: .01em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid #edf5fc;*/
    margin: auto;
    font-size: 16px;
    padding: 15px 30px 14px;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 6px;
    position: relative;
    height: 52px;
    line-height: 1.4;
    box-shadow: none;
    color: white;
}
.modalExit {
    position: absolute;
    top: -60px;
    background-color: #222;
    border-radius: 50%;
    padding: 8px 12px;
    right: 0;

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
    outline: none;
    box-shadow: none;
}

.modalExitImg {
    height: 15px;
    width: 15px;
}

.btn:hover {
    border-color: #1271c4;
    background: -webkit-linear-gradient(top, #2E78AD 0%, #5186AD 100%);
    background: linear-gradient(to bottom, #2E78AD 0%, #5186AD 100%);
}



/* FLEX */
.fullH { height: 100%; }
.flex, .inline-flex {
    display: flex;
    flex: 0 1 auto;  /* (grow,shrink,basis) */
    min-width: 0;   /* Fix for weird calculation behaviour */
}
.inline-flex { display: inline-flex; }
/* wrap */
.flex.wrap { flex-wrap: wrap; }
.flex.nowrap { flex-wrap: nowrap; }
.flex.wrap-reverse { flex-wrap: wrap-reverse; }

.flex.row { flex-direction: row; }
.flex.column { flex-direction: column; }

.flex-grow1 { flex-grow: 1; }
.flex-grow2 { flex-grow: 2; }
.flex-grow3 { flex-grow: 3; }
.flex-grow4 { flex-grow: 4; }
.flex-grow5 { flex-grow: 5; }
.flex-grow6 { flex-grow: 6; }
.flex-grow7 { flex-grow: 7; }
.flex-grow8 { flex-grow: 8; }
.flex-grow9 { flex-grow: 9; }
.flex-grow10 { flex-grow: 10; }

.flex-no-shrink { flex-shrink: 0; }
/* Justify */
.flex.justify-start { justify-content: flex-start; }
.flex.justify-end { justify-content: flex-end; }
.flex.justify-center { justify-content: center; }
.flex.justify-space-between { justify-content: space-between; }
.flex.justify-space-around { justify-content: space-around; }
/* Align item */
.flex.align-items-start { align-items: flex-start; }
.flex.align-items-end { align-items: flex-end; }
.flex.align-items-center { align-items: center; }
.flex.align-items-baseline { align-items: baseline; }
.flex.align-items-stretch { align-items: stretch; }
/* Align content */
.flex.align-content-start { align-content: flex-start; }
.flex.align-content-end { align-content: flex-end; }
.flex.align-content-center { align-content: center; }
.flex.align-content-space-between { align-content: space-between; }
.flex.align-content-space-around { align-content: space-around; }
.flex.align-content-stretch { align-content: stretch; }
/* Align self */
.flex > .align-self-start { align-self: flex-start; }
.flex > .align-self-end { align-self: flex-end; }
.flex > .align-self-center { align-self: center; }
.flex > .align-self-baseline { align-self: baseline; }
.flex > .align-self-stretch { align-self: stretch; }
